<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cards-container">
      <h1 class="heading-1">Teeni raha!</h1>
      <div class="cards">
        <div class="card">
          <h1 class="box-num">1. Tee toiminguid</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            assumenda quod quos enim earum consectetur tenetur doloremque
            dolores eveniet ea.
          </p>
        </div>
        <div class="card">
          <h1 class="box-num">2. Kogu punkte</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            assumenda quod quos enim earum consectetur tenetur doloremque
            dolores eveniet ea.
          </p>
        </div>
        <div class="card">
          <h1 class="box-num">3. Teeni raha!</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            assumenda quod quos enim earum consectetur tenetur doloremque
            dolores eveniet ea.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
