<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../root/root.css" />
    <link rel="stylesheet" href="../navbar/navbar.css" />
    <link rel="stylesheet" href="../home-components/cta/cta.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link rel="stylesheet" href="../home-components/cards/cards.css" />
    <link
      rel="stylesheet"
      href="../home-components/head-container/head-container.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <!--IMPORTED COMPONENTS-->
    <div
      include-html="../navbar/navbar.html, ../home-components/head-container/head-container.html, ../home-components/cards/cards.html, ../home-components/cta/cta.html, ../footer/footer.html"
    ></div>

    <!--Scripts-->
    <script src="../app.js"></script>
  </body>
</html>
