<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="head-container">
      <div class="head">
        <h1>MoneyCome</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptas, quod, quia, voluptates quae voluptatibus quibusdam
          voluptatum quidem quos nemo quas. Quisquam, quae. Quisquam, quae.
        </p>
        <div class="btn">
          <a href="#">
            <span class="button">Get started</span>
          </a>
          <a href="#">
            <span class="button">Learn more</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
